In [2]:
import pandas as pd
import instructor
from openai import AsyncOpenAI


df = pd.read_csv("samples/output/job_match_score.csv")

df.head()

,Unnamed: 0,Python,Pyspark,R,SQL,Hadoop,Statistical Analysis,Machine Learning,Deep Learning,GenAI,...,Support GenAI initiatives,Utilize supervised and unsupervised machine learning methodologies and NLP,Serve as a subject matter expert on Machine Learning. Deep Learning. and GenAI techniques,Collaborate with technology teams to implement analytical solutions and models,Provide additional analysis based on stakeholder needs,Python packages,location_match,industry_match,candidate_name,overall_score
0,0,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,3,5,Priya Sharma,126
1,1,5,5,0,5,5,4,5,0,2,...,1,3,2,3,4,4,3,2,Rahul Verma,86
2,2,2,1,2,4,2,3,1,0,0,...,0,0,0,2,3,1,3,2,Arjun Menon,47

In [4]:
df['candidate_name'].to_list()

['Priya Sharma', 'Rahul Verma', 'Arjun Menon']

In [5]:
from pydantic import BaseModel, Field
from enum import Enum
from typing import List, Union, Literal

class ComparisonOperator(Enum):
    """Represents comparison operators used in DataFrame filtering operations"""
    LESS_THAN = "<"
    GREATER_THAN = ">"
    EQUAL_TO = "=="
    LESSER_OR_EQUAL_TO = "<="
    GREATER_OR_EQUAL_TO = ">="


class SortOperation(BaseModel):
    """Represents a sorting operation to be applied on a DataFrame"""
    type: Literal["sort"]
    column: str = Field(description="Column name to sort the DataFrame by")
    ascending: bool = Field(description="Sort direction - True for ascending order (low to high), False for descending order (high to low)")

class FilterOperation(BaseModel):
    """Represents a filtering operation to be applied on a DataFrame"""
    type: Literal["filter"]
    column: str = Field(description="Column name to apply the filter condition on") 
    operator: ComparisonOperator = Field(description="Comparison operator (<, >, ==, <=, >=) for the filter condition")
    value: int = Field(description="Value to compare column entries against")

class DataFrameTransformation(BaseModel):
    """Represents a sequence of transformations to be applied on a DataFrame"""
    operations: List[Union[SortOperation, FilterOperation]] = Field(description="Sequence of sort and filter operations to transform the DataFrame")
    limit: int = Field(description="Maximum number of rows to return in the result")

In [11]:
column_names = df.columns.to_list()

In [8]:
example = """
Columns: ['Python', 'SQL', 'overall_score']
Query: "Show top 5 candidates with Python skills above 4"
Response:
{
    "operations": [
        {
            "type": "filter",
            "column": "Python",
            "operator": ">",
            "value": 4
        },
        {
            "type": "sort",
            "column": "Python", 
            "ascending": false
        }
    ],
    "limit": 5
}
"""

FILTER_PROMPT = """
You are an expert at converting natural language queries into structured operations for a DataFrame. Your task is to interpret a user's query and create a specification for filtering and sorting operations.
The DataFrame contains candidate resume evaluations, where each row represents a candidate and columns represent different skills and qualifications. Each column is scored on a scale of 0-5, where:
- 0 indicates no experience/skill
- 1-2 indicates basic/beginner level
- 3-4 indicates intermediate level 
- 5 indicates expert/advanced level


Given:
- A list of column names from a pandas DataFrame
- A natural language query from the user

Create a specification that:
1. Identifies the required filtering and sorting operations
2. Orders operations appropriately (filters before sorts)
3. Determines the number of rows to display
4. Returns a structured specification that can be applied to the DataFrame

For example:
{example}

The response should map to the DataFrameTransformation model with:
- operations: List containing Operation objects in execution order, where each operation has an action that is either:
  - FilterOperation:
    - column: Column name to filter on
    - operator: One of ComparisonOperator values (<, >, ==, <=, >=)
    - value: Numeric threshold value (these values range between 1-5)
  - SortOperation:
    - column: Column name to sort by
    - ascending: Sort direction (true=ascending, false=descending)
- limit: Number of rows to display in final output

**DataFrame Columns**:
{columns}

**User Query**:
{query}
"""


client = instructor.from_openai(AsyncOpenAI())


async def generate_query_filter(columns: list, user_query: str) -> DataFrameTransformation:
    prompt = FILTER_PROMPT.format(columns=columns, query=user_query, example=example)
    
    response = await client.chat.completions.create(
        model="gpt-4o-mini-2024-07-18",
        messages=[
            {"role": "system", "content": "You are an expert at interpreting natural language queries into structured filters."},
            {"role": "user", "content": prompt}
        ],
        response_model=DataFrameTransformation
    )
    
    return response

In [9]:
transformation = await generate_query_filter(column_names, "Show top 2 candidates with SQL experience.")

transformation

NameError: name 'column_names' is not defined

In [48]:
def apply_transformations(df: pd.DataFrame, transformation: DataFrameTransformation) -> pd.DataFrame:
    """
    Apply a series of transformations to a DataFrame based on a DataFrameTransformation object.
    
    Args:
        df: Input DataFrame
        transformation: DataFrameTransformation object containing filter and sort operations
        
    Returns:
        Transformed DataFrame with filters and sorts applied
    """
    result = df.copy()
    
    # Apply each operation in sequence
    for operation in transformation.operations:
        if isinstance(operation, FilterOperation):
            # Apply filter operation
            filter_op = operation
            if filter_op.operator == ComparisonOperator.GREATER_THAN:
                result = result[result[filter_op.column] > filter_op.value]
            elif filter_op.operator == ComparisonOperator.LESS_THAN:
                result = result[result[filter_op.column] < filter_op.value]
            elif filter_op.operator == ComparisonOperator.EQUAL_TO:
                result = result[result[filter_op.column] == filter_op.value]
            elif filter_op.operator == ComparisonOperator.GREATER_OR_EQUAL_TO:
                result = result[result[filter_op.column] >= filter_op.value]
            elif filter_op.operator == ComparisonOperator.LESSER_OR_EQUAL_TO:
                result = result[result[filter_op.column] <= filter_op.value]
                
        elif isinstance(operation, SortOperation):
            # Apply sort operation
            sort_op = operation
            result = result.sort_values(by=sort_op.column, ascending=sort_op.ascending)
    
    # Apply row limit if specified
    if transformation.limit:
        result = result.head(transformation.limit)
        
    return result

In [52]:
results_df = apply_transformations(df, transformation)

results_df.set_index("candidate_name")

,Unnamed: 0,Python,Pyspark,R,SQL,Hadoop,Statistical Analysis,Machine Learning,Deep Learning,GenAI,...,Develop predictive solutions using advanced statistical techniques,Support GenAI initiatives,Utilize supervised and unsupervised machine learning methodologies and NLP,Serve as a subject matter expert on Machine Learning. Deep Learning. and GenAI techniques,Collaborate with technology teams to implement analytical solutions and models,Provide additional analysis based on stakeholder needs,Python packages,location_match,industry_match,overall_score
candidate_name,,,,,,,,,,,,,,,,,,,,,
Priya Sharma,0,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,3,5,126
Rahul Verma,1,5,5,0,5,5,4,5,0,2,...,4,1,3,2,3,4,4,3,2,86

In [46]:
df

,Unnamed: 0,Python,Pyspark,R,SQL,Hadoop,Statistical Analysis,Machine Learning,Deep Learning,GenAI,...,Support GenAI initiatives,Utilize supervised and unsupervised machine learning methodologies and NLP,Serve as a subject matter expert on Machine Learning. Deep Learning. and GenAI techniques,Collaborate with technology teams to implement analytical solutions and models,Provide additional analysis based on stakeholder needs,Python packages,location_match,industry_match,candidate_name,overall_score
0,0,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,3,5,Priya Sharma,126
1,1,5,5,0,5,5,4,5,0,2,...,1,3,2,3,4,4,3,2,Rahul Verma,86
2,2,2,1,2,4,2,3,1,0,0,...,0,0,0,2,3,1,3,2,Arjun Menon,47

In [1]:
from qdrant_client import QdrantClient

client = QdrantClient(url="http://localhost:6333")

In [3]:
from qdrant_client import models

type(models.Filter)

pydantic._internal._model_construction.ModelMetaclass

In [17]:
from qdrant_client.http.models import Filter, FieldCondition

In [49]:
class Transformations(BaseModel):
    filt : Filter
    limit: int = Field(description="Maximum number of records to return in the filtered result set. Use 0 or None for unlimited results.")

In [6]:
type(DataFrameTransformation)

pydantic._internal._model_construction.ModelMetaclass

In [27]:
FILTER_PROMPT = """
Given a list of columns: {columns}
And a user query: {query}

Convert this natural language query into a structured filter and limit for searching records.
The filter should use the appropriate Qdrant filter conditions and match the query intent.

Return a transformations object with:
- scroll_filter: A Qdrant Filter object that represents the filtering conditions
- limit: The maximum number of records to return (extract from query if specified)

Only include filter conditions that are explicitly mentioned or strongly implied by the query.
Use appropriate operators (must, should, range, match) based on the query semantics.

For example, if the query is "Show top 3 candidates with Python skills":
- scroll_filter would include a must condition for Python=True 
- limit would be set to 3
"""

In [58]:
client = instructor.from_openai(AsyncOpenAI())

async def generate_query_filter(columns: list, user_query: str) -> Transformations:
    prompt = FILTER_PROMPT.format(columns=columns, query=user_query)
    
    response = await client.chat.completions.create(
        model="gpt-4o-mini-2024-07-18",
        messages=[
            {"role": "system", "content": "You are an expert at interpreting natural language queries into structured filters."},
            {"role": "user", "content": prompt}
        ],
        strict=False,
        response_model=Filter,
        max_retries=3

    )
    
    return response

In [59]:
transformation = await generate_query_filter(column_names, "Show top 2 candidates with SQL and Python experience.")

transformation

Filter(should=None, min_should=None, must=[FieldCondition(key='SQL', match=MatchValue(value=True), range=None, geo_bounding_box=None, geo_radius=None, geo_polygon=None, values_count=None), FieldCondition(key='Python', match=MatchValue(value=True), range=None, geo_bounding_box=None, geo_radius=None, geo_polygon=None, values_count=None)], must_not=None)

In [41]:
from qdrant_client import QdrantClient

q_client = QdrantClient(url="http://localhost:6333")

In [46]:
from app.services.file_processing import process_file
from app.services.text_extraction import extract_text

import os
from pathlib import Path

resume_folder = Path("/home/kthirumavalavan/Documents/personal/hiring_helper/samples/resumes")  # Adjust path as needed
resume_files = []

for file_path in resume_folder.glob("*.*"):
    if file_path.suffix.lower() in [".pdf", ".docx"]:
        with open(file_path, "rb") as f:
            file_content = f.read()
            file_extension = file_path.suffix.lower()[1:]  # Remove the dot
            text = extract_text(file_content, file_extension)
            resume_files.append(text)

In [47]:
resume_files

['weak-ﬁt.md 2025-02-17\n1 / 1Arjun Menon\nEmail:  arjunmenon@example.com\nPhone:  +91 76543 21098\nLinkedIn:  linkedin.com/in/arjunmenon\nLocation:  Chennai, India\nSummary\nBusiness Analyst with 6 years of experience in data analytics, SQL, and reporting . Strong background in\nworking with data-driven insights but limited exposure to advanced machine learning and GenAI .\nLooking to tr ansition into a data science role.\nSkills\nData Analysis:  SQL, Excel, Power B I, Tableau\nProgr amming:  Python (Basic), R (Basic)\nStatistical Analysis:  Regression, Descriptive Analytics\nBig Data:  Familiarity with Hadoop & Spark\nExperience\nBusiness Analyst | JKL Consulting | May 2018 – Present\nAnalyzed customer behavior trends to optimize marketing str ategies .\nCreated SQL-based data pipelines  for financial reporting.\nAssisted in basic predictive modeling  but did not directly implement ML models.\nData Analyst | MNO Corp | Aug 2016 – April 2018\nConducted ad-hoc data analysis  using SQL and Excel.\nBuilt business dashboards  to tr ack oper ational performance.\nEducation\nBachelor of Business Administr ation (BBA) – Finance\nLoyola College, Chennai | 2016\nCertifications\nSQL for Data Science  – Courser a\nIntroduction to Python for Data Analysis  – Udacity\nAchievements\nReduced manual data processing time by 30%  through SQL automation.\nLed a data visualization project  that improved executive reporting.',
 'strong-ﬁt.md 2025-02-17\n1 / 2Priya Sharma\nEmail:  priyasharma@example.com\nPhone:  +91 98765 43210\nLinkedIn:  linkedin.com/in/priyasharma\nLocation:  Bangalore, India\nSummary\nSenior Data Science Analyst with 7+ years of experience in predictive modeling, statistical analysis, and AI-\ndriven insights. Expertise in Python, PySpark, SQL, and GenAI  for developing robust analytical solutions.\nProven ability to collabor ate with global teams and drive business impact through data science\nmethodologies.\nSkills\nProgr amming:  Python, PySpark, SQL, R\nMachine Learning & AI:  Supervised & Unsupervised ML, Deep Learning, GenAI, NLP\nBig Data & Analytics:  Hadoop, Spark, Databricks\nStatistical Modelling:  Regression, Clustering, Time Series, Bayesian Analysis\nBFSI & Risk Analytics:  Credit Risk, Fr aud Detection, Customer Segmentation\nVisualization & Reporting:  Tableau, Power B I, Matplotlib, Seaborn\nExperience\nSenior Data Scientist | XYZ Analytics Pvt. Ltd. | Jan 2020 – Present\nDesigned and implemented predictive models  for credit risk assessment, reducing loan default r ates\nby 15%.\nDeveloped GenAI-driven automation  tools to optimize data validation and anomaly detection.\nLed the end-to-end model development lifecycle , including validation and calibr ation.\nCollabor ated with global stakeholders  to tailor solutions to business needs.\nData Scientist | ABC Financial Solutions | Aug 2016 – Dec 2019\nBuilt NLP-based text classification models  for fr aud detection in financial tr ansactions.\nDeveloped statistical models  to improve customer churn prediction by 20%.\nOptimized lar ge-scale data pipelines using PySpark  to handle structured and unstructured data.\nEducation\nMaster of Science in Data Science  – Indian Institute of T echnology (IIT), Bombay | 2016\nCertifications\nCertified AI & ML Specialist  – Courser a\nAdvanced GenAI T echniques  – Udacitystrong-ﬁt.md 2025-02-17\n2 / 2Achievements\nDeveloped a GenAI-based document summarization tool  for financial reports, reducing analysis\ntime by 40%.\nPublished research on "Machine Learning in Credit Risk Modeling " in a peer-reviewed journal.',
 'moderate-ﬁt.md 2025-02-17\n1 / 2Rahul V erma\nEmail:  rahulverma@example.com\nPhone:  +91 87654 32109\nLinkedIn:  linkedin.com/in/r ahulverma\nLocation:  Hyder abad, India\nSummary\nData Science Analyst with 6 years of experience in statistical modeling, machine learning, and data analytics.\nProficient in Python, PySpark, SQL , and skilled in predictive modeling. Strong ability to gener ate data-\ndriven insights , though seeking more experience in GenAI and BFSI analytics .\nSkills\nProgr amming:  Python, PySpark, SQL\nMachine Learning:  Regression, Classification, Clustering, Time Series\nBig Data & Analytics:  Spark, Hadoop, A WS, Snow flake\nStatistical Modelling:  Hypothesis T esting, A/B T esting, Feature Engineering\nData Visualization:  Power B I, Seaborn, Matplotlib\nExperience\nData Scientist | DEF Analytics | April 2019 – Present\nDeveloped machine learning models  to improve product recommendation systems, increasing user\nengagement by 18%.\nBuilt PySpark-based data pipelines  for lar ge-scale data processing.\nPartnered with stakeholders to provide custom analytical insights  for marketing teams.\nData Analyst | GHI Tech | July 2016 – March 2019\nConducted statistical analysis  on customer data, leading to a 12% increase in sales through tar geted\nstrategies.\nAutomated SQL-based ETL processes  for handling structured datasets.\nAssisted in model validation and calibr ation  of predictive models.\nEducation\nMaster of Computer Applications (MCA)  – University of Delhi | 2016\nCertifications\nMachine Learning Specialization  – Courser a\nBig Data Processing with PySpark  – Udemy\nAchievementsmoderate-ﬁt.md 2025-02-17\n2 / 2Designed automated dashboards  to monitor key ML metrics, reducing manual reporting by 50%.\nImplemented time-series forecasting models , improving demand predictions for e-commerce\nclients.']

In [62]:
# Load resume files into embeddings
from qdrant_client.http import models
from fastembed import TextEmbedding

# Create collection for resumes if it doesn't exist
collection_name = "resumes"
q_client.recreate_collection(
    collection_name=collection_name,
    vectors_config=models.VectorParams(
        size=384,  # FastEmbed dimension
        distance=models.Distance.COSINE
    )
)

# Convert resumes to embeddings using FastEmbed

embedding_model = TextEmbedding()

resume_embeddings = []
for text in resume_files:
    embeddings = list(embedding_model.embed([text]))
    resume_embeddings.append(embeddings[0])

# Create payloads from DataFrame rows
payloads = df[['candidate_name']].to_dict('records')

# Upload vectors with payloads to Qdrant
q_client.upsert(
    collection_name=collection_name,
    points=models.Batch(
        ids=list(range(len(resume_embeddings))),
        vectors=resume_embeddings,
        payloads=payloads
    )
)

/tmp/ipykernel_6676/1187074189.py:7: DeprecationWarning: `recreate_collection` method is deprecated and will be removed in the future. Use `collection_exists` to check collection existence and `create_collection` instead.
  q_client.recreate_collection(

UpdateResult(operation_id=0, status=<UpdateStatus.COMPLETED: 'completed'>)

In [ ]:
jd_embedding = None
query = ""
dense_embedding_model = TextEmbedding("sentence-transformers/all-MiniLM-L6-v2")
reranker = TextCrossEncoder(model_name='jinaai/jina-reranker-v2-base-multilingual')

query_embedded = list(dense_embedding_model.query_embed(query))[0]

initial_retrieval = q_client.query_points(
    collection_name="movies",
    using="embedding",
    query_filter=None,
    query=query_embedded,
    with_payload=True,

    limit=10
)

new_scores = list(reranker.rerank(query, description_hits)) #returns scores between query and each document

ranking = [(i, score) for i, score in enumerate(new_scores)] #saving document indices
ranking.sort(key=lambda x: x[1], reverse=True) #sorting them in order of relevance defined by reranker

for i, rank in enumerate(ranking):
    print(f'''Reranked result number {i+1} is \"{description_hits[rank[0]]}\"''')

In [61]:
df[['candidate_name']].to_dict('records')

[{'candidate_name': 'Priya Sharma'},
 {'candidate_name': 'Rahul Verma'},
 {'candidate_name': 'Arjun Menon'}]

In [67]:
points, _ = q_client.scroll(
    collection_name="resumes",
    scroll_filter=models.Filter(must=[models.FieldCondition(key="candidate_name", match=models.MatchAny(any=["Priya Sharma"]))]),
    with_vectors=True)

In [68]:
points

[Record(id=0, payload={'candidate_name': 'Priya Sharma'}, vector=[0.007914781, 0.0018578588, -0.025483044, -0.038936157, -0.029564627, -0.04919382, 0.062996015, 0.07529447, 0.0056021074, -0.0452465, -0.00012807394, -0.021213492, 0.040251933, 0.026691407, 0.03361936, -0.038184285, 0.04237328, -0.043286268, 0.029000724, 0.020756999, -0.00187632, -0.033485096, -0.06970915, -0.047233585, 0.0494892, -0.038184285, -0.033270277, -0.0820076, -0.0066728517, -0.14629254, 0.020622738, -0.0068742456, 0.07411296, -0.03289434, 0.05228186, 0.04452148, -0.046723388, 0.03566015, -0.0025140673, -0.025254797, -0.051368877, -0.04457519, -0.014137853, 0.022757513, -0.008599521, -0.031229483, 0.012875784, -0.038076878, -0.0627812, -0.036707398, -0.015601316, -0.068796165, 0.027483556, 0.047636375, 0.028517378, -0.0133389905, 0.036250904, 0.023173727, 0.011231068, 0.039580617, 0.07604634, -0.004910655, -0.123843834, 0.019280111, -0.010210671, 0.06723872, 0.003883546, -0.092157856, -0.009458801, 0.02628862, -0.01136533, 0.0313906, -0.0008945247, 0.037727796, -0.022811217, 0.006995082, 0.018259715, 0.009076153, 0.017749518, 0.03611664, 0.025429338, -0.02165656, -0.007921495, 0.00025195218, -0.010955829, 0.038184285, -0.02665113, 0.031202631, 0.08549843, -0.010452344, 0.060525585, 0.046723388, -0.034236968, 0.004769679, 0.02230102, -0.014876298, 0.027604394, 0.022207037, -0.047314145, 0.41675115, -0.01050605, 0.016071234, -0.025120534, 0.009257407, -0.04427981, -0.07991311, -0.029430365, -0.027309015, 0.028060885, -0.06530534, -0.06047188, -0.012546841, 0.023509383, 0.012076922, 0.008243725, 0.012345447, 0.027376147, -0.022421855, -0.041675113, 0.04554188, -0.046240043, -0.00881434, 0.0035948814, 0.048361395, -0.029967414, -0.028034033, -0.024650617, 0.01565502, 0.042131606, -0.006038461, 0.07889271, 0.016742548, -0.16208182, 0.010647025, 0.04363535, -0.01745414, 0.02725531, -0.007666395, -0.04266866, 0.0001401366, -0.09350048, 0.032303583, -0.0057128742, -0.014594346, -0.03673425, 0.10708786, -0.018756486, -0.055960655, -0.009062726, -0.03547218, 0.009895154, -0.005108692, -0.054107834, -0.029725742, 0.002524137, 0.082222424, 0.020622738, 0.007042074, -0.03200821, 0.034075852, -0.026100652, -0.023549663, -0.086250305, 0.06202933, 0.027980328, -0.11686218, 0.028973872, 0.051207762, -0.031524863, 0.025590453, 0.03163227, -0.003223981, -0.021455165, -0.03289434, -0.02682567, 0.006377474, -0.00926412, -0.02212648, -0.0027305658, 0.02326771, -0.00962663, -0.03168598, -0.010694017, 0.034398083, -0.011009534, -0.024301533, -0.0017387008, 0.03555274, 0.016151791, -0.05810886, -0.023898745, 0.0035579593, -0.044736303, 0.05365134, -0.022905203, -0.04352794, 0.066057205, -0.0194278, 0.012285029, -0.065090515, 0.038184285, 0.03233044, -0.027523836, 0.03788891, 0.036761105, -0.042829774, -0.0065184496, 0.018877324, 0.0023714134, 0.028060885, 0.017642107, -0.03300175, -0.016608285, -0.030316498, 0.00870693, 0.015681874, 0.0692258, 0.069118395, 0.036787957, 0.0084585445, -0.007411296, 0.050187364, -0.008190019, -0.3280304, -0.02646316, 0.0061559407, 0.003675439, -0.03724445, 0.019038439, 0.015359643, 0.0020760356, 0.059451483, 0.0820076, 0.02603352, 0.095219046, 0.015467053, -0.07067584, 0.024919141, -0.05330226, 0.022529267, 0.03224988, -0.04586411, -0.0691721, 0.01479574, 0.031766534, -0.009015734, -0.066862784, 0.064929396, 0.022059347, 0.10891383, -0.04395758, 0.010707444, -0.031148925, -0.030746138, -0.010707444, -0.021817675, -0.07910753, 0.02937666, -0.029967414, -0.015050839, -0.031524863, -0.050858676, 0.040063962, -0.044145547, 0.06863505, 0.05421524, -0.04320571, -0.036546282, 0.00029076246, 0.073737025, -0.06568127, -0.056873642, 0.056873642, -0.031068368, 0.014231837, 0.06664796, 0.0410038, 0.0030393698, -0.061868213, -0.053355962, 0.06326454, -0.011284772, -0.023710778, -0.02226074, -0.056981053, 0.015869841, 0.010962542, -0.010022704, 0.0037660664, 0.05886073, -0.0077201, 0.023670498, 0.0015104543, -0.019239832, 0.030397056, -0.056658823, -0.041218624, 0.021280624, -0.011452601, -0.013634368, -0.05088553, -0.004397101, 0.05166425, -0.009438662, 0.0114123225, 0.026328899, 0.047663227, 0.012177619, 0.08308171, 0.07513336, 0.038989864, 0.020730147, 0.086572535, -0.019078717, 0.0012427683, -0.04097695, 0.03480087, 0.0067601227, 0.016205497, -0.24639875, 0.020810705, -0.06229785, 0.010358361, -0.002629869, -0.009277547, -0.003698935, -0.058001447, -0.0872707, 0.02021995, 0.037593532, -0.03163227, 0.03651943, -0.043581642, 0.03576756, -0.025697865, 0.036009233, 0.0010850098, 0.0035780987, 0.014728609, 0.032384142, 0.02635575, 0.14650737, 0.0066292165, 0.010935689, 0.053060584, -0.015305938, -0.062190443, 0.041433442, 0.05461803, 0.017910633, -0.034048997, 0.11557326, 0.0045280065, -0.0055953944, 0.03321657, -0.02273066, 0.050214216, 0.03163227, 0.010781288, 0.057303283, 0.010425492, -0.04503168, 0.031202631, 0.081900194, 0.03141745, -0.022462135, -0.058269974, 0.0035478896, 0.008196732, 0.025120534, -0.0010732617, -0.006995082, 0.02294548, -0.013010047, 0.026516866, -0.046481717, 0.010855132, 0.013728352, -0.022099625, 0.006075383, -0.01889075, -0.004769679, 0.006377474, -0.043178856], shard_key=None, order_value=None)]

In [ ]:
reranker.rerank(query, points)

In [1]:
str({'k': 'v'})

"{'k': 'v'}"

In [ ]:
first step: metadata filtering

second step reranking by embedding rows of the filtered points


flowchart TD
    A[Resume CSV Upload] --> B[Process CSV File]
    B --> C[QdrantManager]
    
    subgraph QdrantManager Setup
        C --> D[Initialize Qdrant Client]
        D --> E[Create 'resumes' Collection]
        E --> F[Initialize FastEmbed & Reranker Models]
    end
    
    subgraph Upsert Process
        G[DataFrame with Resumes] --> H[Convert Each Row to Text]
        H --> I[Generate Embeddings]
        I --> J[Create Payloads with Names & Scores]
        J --> K[Upsert to Qdrant DB]
    end
    
    subgraph Search & Rerank
        L[User Query] --> M[Filter by Candidate Names]
        M --> N[Retrieve Matching Points]
        N --> O[Extract Scores]
        O --> P[Rerank using Cross-Encoder]
        P --> Q[Return Ranked Results]
    end
    
    C --> G
    L --> C
    
    style QdrantManager Setup fill:#f9f,stroke:#333
    style Upsert Process fill:#bbf,stroke:#333
    style Search & Rerank fill:#bfb,stroke:#333